* {
  margin: 0 auto;
  padding: 0;
}

.box1 {
  width: 100vw;
  height: 10vh;
  background-color: #6F8861;
  display: flex;
  align-items: center;
}

.box1-1 {
  margin-left: 3%;
}

.box1-2 {
  margin-left: 950px;
}

.box1-3 {
  margin-right: 3%;
}

.box1-3 p {
  font-size: xx-large;
  color: #f9f7f7;
}

.box2 {
  width: 100vw;
  display: flex;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box2-1 {
  margin: 20px auto;
  width: 1000px;
  height: 130px;
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 30px;
  color: #060000;
} 
.border1{
  width: 20%;
  height: 100%;
  background-color: #cdcd40;
}
.border2{
  font-size: 30px;
  width: 70%;
  height: 100%;
  background-color: #c7d0d6;
}
