*{
    margin:0 auto;
    padding: 0;
}
.page1{
    width: 1400px;
    height: 800px;
    background-image: url(https://g-g-bond.oss-cn-beijing.aliyuncs.com/img/6b1cfda25385ac2c5623c67c7864f4a7.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box1{
    width:1000px;
    height:200px;
    display:flex;
    margin-top: -50px;
    background-color: transparent
    background-repeat:no-repeat;
    
}
.box1-1{
    height: 200px;
    width: 200px;
    background-color:transparent;
    margin-left: 0;
}
.box1-1 img{
    width: 100%;
}
.box1-2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: XXX-large;
    margin-left:-150px;
    margin-top: 18%;
}
.box2{
    width:1000px;
    height:460px;
    margin-top: -100px;
    display:flex;
    justify-content: space-around;
    background-color: rgb(181, 135, 227);
    background-repeat: no-repeat; 
}
.box2-1{
    width: 300px;
    height: 460px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.box2-1 p{
    
}
.box2-2{
    width: 300px;
    height: 460px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.box2-1-1{
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
.box2-2-1{
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
