* {
    margin: 0 auto;
    padding: 0;
}

.box1 {
    width: 100vw;
    height: 10vh;
    background-color: #6F8861;
    display: flex;
    align-items: center;
}

.box1-1 {
    margin-left: 3%;
}

.box1-2 {
    margin-right: 5%;
}

.box1-2 p {
    font-size: xx-large;
    color: #f9f7f7;
}

.box2 {
    width: 100vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box2-1, .box2-2, .box2-3, .box2-4 {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    transition: transform 1s ease;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column; /* 使内容垂直排列 */
}

.box2-1:hover, .box2-2:hover, .box2-3:hover, .box2-4:hover {
    transform: scale(0.9);
}

.box2-1 {
    background-color: #b7e79a;
    margin-left: 15%;
}

.box2-2 {
    background-color: rgb(235, 191, 137);
}

.box2-3 {
    background-color: rgb(145, 135, 237);
}

.box2-4 {
    background-color: rgb(227, 103, 215);
    margin-right: 15%;
}

.box2 p {
    font-size: 50px;
    writing-mode: vertical-rl; 
    text-orientation: upright;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: #000;
}