.body {
    margin: 0 auto;
    width: 100%;
}
/* 顶栏 */
.header {
    background-color: #6F8861;
    width: 100%;
    height: 30px;
    position: relative;
}
.header img {
    width: 50px;
    height: 30px;
}
.header a img {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 0;
}
/* 内容 */
.main {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}
.news {
    background-color: #EBEDDF;
    width: 35%;
    height: 100%;
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.developments {
    background-color: #EBEDDF;
    width: 35%;
    height: 100%;
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.models {
    background-color: #EBEDDF;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span {
    font-size: 25px;
    font-weight: bold;
    color: #6F8861;
    position: relative;
    top: 10px;
    left: 95px;
}
.news-content {
    width: 92%;
    height: 85%;
    padding: 10px;
}
.developments-content {
    width: 92%;
    height: 85%;
    padding: 10px;
}
.models-content {
    width: 92%;
    height: 85%;
    padding: 10px;
}
