*{
    margin:0 auto;
    padding: 0;
}

.banner{
    width: 100vw;
    height: 10vh;
    background-color: #6F8861;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 100vw;
    height: 90vh;
}
.logo{
   margin-left: 35px;
}

.lit{
    margin-left: 0px;
    margin-top: 1%;
}
/* 
.sec1{
    height: 50px;
    flex-direction: row;
    display:flex;
    justify-content: flex-start;
} */

/* .sec2{
    height: 50px;
    flex-direction: row;
    display:flex;
    justify-content: flex-start;
} */


.user{
   margin-left: 1100px;
}

.left {
margin-right: 35px;
}

.i1,.i2{
    height: 80px;
}


.photo{
    height: 280px;
    width: 200px;
    background-color: #ECEFE8;
    color:#adadad;
    font-size: 24px;
    text-align: center;
    line-height: 280px;
    position:absolute;
    top: 220px;
    left: 50px;
}

input{
    border-style: none;
    height: 30px;
}

.info{
    display:flex;
    justify-content: start;
    font-size: 28px;
}

.info1{
    margin-top: 100px;
    margin-left: 300px;
}

.info2 {
    margin-top: 100px;
    margin-left: 595px;
}

.name,.sex,.xh,.xy,.zy,.bj,.nj,.xq,.mz,.fx,.zzmm,.email,.phone,.vx,.qq{
    font-size: 28px;
    font-family: 黑体;
    margin-bottom: 30px;
}

.nav>ul>li>a>img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.gai{
    height: 50px;
    display:inline-block;
    text-align: center;
    line-height: 50px;
}

.nav{
    display:none;
    background-color: #adadad;
}

.nav>ul>li>a{
    text-decoration: none;
    color:#adadad;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

ul{
    width: 200px;
    height: 210px;
    position: absolute;
    right:17px;
    top: 70px;
    border-radius: 10px;
    background-color: white
}

li{
    width: 300px;
    list-style: none;
    font-size: 18px;
    color:#adadad;
    text-align: left;
    line-height: 50px;
}

.trangle{
    width: 0;
    height: 0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:30px solid white;
    position:absolute;
    top: 60px;
    right: 33px;
}

